#chart_div1 {
    border: 1px solid #ccc;
    float: right;
    padding: 5px;
}

#chart_div2 {
    border: 1px solid #ccc;
    float: right;
    padding: 5px;
}

#chart_div3 {
	border: 1px solid #ccc;
    float: right;
    padding: 5px;
    /*margin-top: 400px;*/
}

#chart_div4 {
	border: 1px solid #ccc;
    float: right;
    padding: 5px;
    /*margin-top: 400px;*/
}

#chart_div5 {
	border: 1px solid #ccc;
    float: right;
    padding: 5px;
    /*margin-top: 400px;*/
}