<!DOCTYPE html>
<html>
<head>
  <title>Opioid Webpage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/feedback.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/popup.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/aboutUs.css">

  <link rel="stylesheet" type="text/css" href="/jquery-ui-theme/jquery-ui.min.css" />
  <script type="text/javascript" src="/jquery-ui-theme/external/jquery/jquery.js"></script>
  <script type="text/javascript" src="/jquery-ui-theme/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/js/tabs.js"></script>

</head>

  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/home">Homepage</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/feedback">Feedback</a>
    <a href="/aboutUs">About Us</a>
  </div>

  <h1 style="margin: 0 40% 0 40%">About Us</h1>

  <div style="position: relative;margin-top: 30px;margin-left: 50px">
        <img style="margin: 10px" src="../style/amogh.jpg" class="aboutUs" id="imageA" >
        <img style="margin: 10px" src="../style/divya.jpg" class="aboutUs" id="imageD" >
        <img style="margin: 10px" src="../style/indira.jpg" class="aboutUs" id="imageI">
        <img style="margin: 10px" src="../style/vijay.JPG" class="aboutUs" id="imageV" >
  </div>

  <div>
    <span style="font-size: 20px;margin-left: 10%">Amogh</span>
    <span style="font-size: 20px;margin-left: 20%">Divya</span>
    <span style="font-size: 20px;margin-left: 20%">Indira</span>
    <span style="font-size: 20px;margin-left: 20%">Vijay</span>
  </div>

</body>

<script type="text/javascript" src="/routes/nav.js"></script>

</html>