<!DOCTYPE html>
<html>
<head>
	<title>Drug Overdose</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<link rel="stylesheet" type="text/css" href="/jquery-ui-theme/jquery-ui.min.css" />
	<script type="text/javascript" src="/jquery-ui-theme/external/jquery/jquery.js"></script>
  	<script type="text/javascript" src="/jquery-ui-theme/jquery-ui.min.js"></script>
  	<script type="text/javascript" src="/js/accordion.js"></script>
  	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  	
  	<script type="text/javascript">
    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart']});
 	google.charts.setOnLoadCallback(drawVisualization);
 	var state_dict = 
    {
        "AL": "Alabam",
        "AK": "Alaska",
        "AZ": "Arizona",
        "AR": "Arkansas",
        "CA": "California",
        "CO": "Colorado",
        "CT": "Connecticut",
        "DE": "Delaware",
        "FL": "Florida",
        "GA": "Georgia",
        "HI": "Hawaii",
        "ID": "Idaho",
        "IL": "Illinois",
        "IN": "California",
        "IA": "Iowa",
        "KS": "Kansas",
        "KY": "Kentucky",
        "LA": "Louisiana",
        "ME": "Maine",
        "MD": "Maryland",
        "MA": "Massachusetts",
        "MI": "Michigan",
        "MN": "Minnesota",
        "MS": "Mississippi",
        "MO": "Missouri",
        "MT": "Montana",
        "NE": "Nebraska",
        "NV": "Nevada",
        "NH": "New Hampshire",
        "NJ": "New Jersey",
        "NM": "New Mexico",
        "NY": "New York",
        "NC": "North Carolina",
        "ND": "North Dakota",
        "OH": "Ohio",
        "OK": "Oklahoma",
        "OR": "Oregon",
        "PA": "Pennsylvania",
        "RI": "Rhode Island",
        "SC": "South Carolina",
        "SD": "South Dakota",
        "TN": "Tennessee",
        "TX": "Texas",
        "UT": "Utah",
        "VT": "Vermont",
        "VA": "Virginia",
        "WA": "Washington",
        "WV": "West Virginia",
        "WI": "Wisconsin",
        "WY": "Wyoming",
        "AS" :  "American Samoa",
        "DC" :  "District of Columbia",
        "FM" :  "Federated States of Micronesia",
        "GU" :  "Guam",
        "MH" :  "Marshall Islands",
        "MP" :  "Northern Mariana Islands",
        "PW" :  "Palau",
        "PR" :  "Puerto Rico",
        "VI" :  "Virgin Islands"
    }
 	function drawVisualization() {
 	    var tableRow=<%- statevsdeath_rows %>;
 	 	var data = new google.visualization.DataTable();
 	 	
 	 	data.addColumn('string', 'State');
 	   	data.addColumn('number', 'Rate');
 	   	tableRow.forEach(function(row) {
 	   		console.log(row[0],row[1]);
 	       	data.addRow([row[0], Number(row[1])]);
 	   	});

 	   	var options = {'title':'Heat Map of USA',
 	   				   'region': "US",
 	   				   'width' : 1000,
 	   				   'height': 500,
                       // 'backgroundColor':'#e6ffe6',
                       'resolution': "provinces",
                         // 'chartArea': {'width': '80%', 'height': '60%'},
                        'legend': {'position': 'bottom', 'alignment':'center'}
         };

		var geochart = new google.visualization.GeoChart(document.getElementById('visualization'));
  		// geochart.draw(data, {width:0, height: 500, region: "US", resolution: "provinces"});
  		geochart.draw(data, options);
 		
 		//handle click 
  		google.visualization.events.addListener(geochart, 'select',selectHandler );

		function selectHandler(e) {
		var selectedItem = geochart.getSelection()[0];
		   if (selectedItem) {
		    	var state = data.getValue(selectedItem.row, 0);
		    	if (state != 'CA' && state != 'OH' && state != 'NM' && state != 'WV' && state != 'UT' && state != 'KY' && state != 'AZ' && state != 'NV'){	
		    	}else{
		    		// window.location = "http://www.localhost:3000/stateinfo/"+state;
		    		// $("#box").attr("href", "#graph");
		    		document.getElementById("selectedstate").innerHTML = state_dict[state]+" - Opioid Analysis";
		    		$("#box").load("/stateinfo/"+state);
		    		window.location.href = "#graph";
		    	}
		    }
		}
	}
    </script>
</head>

<body>

	<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
	<a href="/home"><h2 "ui-state-default" >Drug Overdose</h2></a>
	
	<div>
		<p style="margin: 0 20% 0 20%; font-family: Arial, Helvetica, sans-serif; font-size: 20px"> 
			Heat Map of the United States of America showing the alarming deaths due to drug overdose
		</p>
		
		<div></div>
		
		<p style="margin: 0 30% 0 20%; font-family: Arial, Helvetica, sans-serif; font-size: 12px"> 
		Click on California, Nevada, Arizona, New Mexico, Utah, West Virginia, Kentucky, Ohio for detailed state wise Data Visualization
		</p>
		
		<div style="margin-left: 250px" id="visualization"  ></div>
	</div>

  	<div id="mySidenav" class="sidenav">
    	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    	<a href="/home">Homepage</a>
    	<a href="/dashboard">Dashboard</a>
		<a href="/feedback">Feedback</a>
    	<a href="/aboutUs">About Us</a>
  	</div>

  	<div style="height: 20px">
  		
  	</div>


  	<a name="graph"></a>
  	<h2 id="selectedstate"></h2>
  	<div id="box">
  		<!-- <h2>click to open the state page</h2> -->
  	</div>

</body>

<script type="text/javascript" src="/routes/nav.js"></script>
</html>
